node_modules
vendor
.env
.env.backup
.env.production
.git
.gitignore
.idea
.vscode
.fleet
.nova
.zed
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
tests
*.md
